# SPDX-License-Identifier: Apache-2.0
#
# DELFAST version of NUVOTON UART configuration
#
# Copyright (c) 2020 Linumiz, (c) 2021 Baden
# Author: Saravanan Sekar <saravanan@linumiz.com>, Batrak Denys <baden.i.ua@gmail.com>

config UART_DELFAST
	bool "DELFAST NUVOTON MCU serial driver"
	select SERIAL_HAS_DRIVER
	select HAS_NUMICRO_UART
	depends on SOC_FAMILY_NUMICRO
	help
	  This option enables the UART driver for Nuvoton Numicro (Delfast version)
	  family of processors.
	  Say y to use serial port on Nuvoton MCU.
