# Nuvoton SPIM M48X flash driver config
# This is not Zephyr style solution. Try to use 'jedec,spi-nor' compatible driver.
# Care: this driver hardcoded to Delfast PC-001 board

# Copyright (c) 2021 BaDen
# Author: baden.i.ua@gmail.com
# SPDX-License-Identifier: Apache-2.0

menuconfig SOC_FLASH_SPIM_M48X
	bool "Nuvoton M48X SPIM flash driver"
	default y
	#depends on SOC_FAMILY_M48X
	depends on SOC_FAMILY_NUMICRO
	#depends on CONFIG_SOC_M487
	#select FLASH_HAS_PAGE_LAYOUT
	#select FLASH_HAS_DRIVER_ENABLED
	#select MPU_ALLOW_FLASH_WRITE if ARM_MPU
	help
	  Enable the Nuvoton SPIM M48X series internal flash driver.

config SPIM_FLASH_M48X_USE_DMA
	bool "Try to use SPIM DMA"
	default n
	
